<main class="py-5 mt-[100px] lg:mt-[107px]">
  
    <section>
        <div class="container">
          <div class="max-w-[800px] mx-auto self-center w-full">
            <div class="mb-10 text-center">
              <h2>Contact</h2>
            </div>
          </div>
        </div>
    </section>
  
    <section class="my-32">
        <div class="container">
            <div class="max-w-[8000px] mx-auto self-center w-full">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate tempora similique excepturi dolores quasi, soluta dignissimos, perferendis laboriosam doloribus saepe quis ex magnam veniam repellat distinctio doloremque! Neque, sequi quam!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate tempora similique excepturi dolores quasi, soluta dignissimos, perferendis laboriosam doloribus saepe quis ex magnam veniam repellat distinctio doloremque! Neque, sequi quam!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate tempora similique excepturi dolores quasi, soluta dignissimos, perferendis laboriosam doloribus saepe quis ex magnam veniam repellat distinctio doloremque! Neque, sequi quam!</p>
            </div>
        </div>
  </section>
</main>
