<main class="py-5 mt-[100px] lg:mt-[107px]">
  
    <section>
        <div class="container">
          <div class="max-w-[800px] mx-auto self-center w-full">
            <div class="mb-10 text-center">
              <h2>About</h2>
            </div>
          </div>
        </div>
    </section>
  
    <section class="my-32">
        <div class="container">
            <div class="max-w-[8000px] mx-auto self-center w-full">
                <p>
                    Code4Code is an AI-driven educational platform tailored for computer programming education, offering a comprehensive 
                    solution for learning Python and JavaScript. This platform includes the "Code4Code Authoring Tool", enabling instructors 
                    to create customized programming exercises.
                </p>
                <p>
                    Code4Code utilizes advanced machine learning algorithms to enhance the learning experience, guiding learners through 
                    their educational journey based on their personal training experiences. Specifically, the platform employs several machine 
                    learning classifiers to support learners, with an additional classifier dedicated to assisting instructors in developing 
                    exercises. Central to our discussion is the "AI-based Learning Guide Prediction Model," a key in personalized learning 
                    that leverages artificial intelligence to allow instructors and learners to tailor educational experiences to their 
                    individual needs and preferences.
                </p>
                <p>
                    Code4Code represents a significant advancement in educational technology, addressing programming education challenges 
                    and setting a new precedent for personalized learning. By integrating AI and machine learning, Code4Code enhances 
                    engagement and outcomes for learners and exemplifies the transformative potential of technology in education, aligning 
                    with the evolving requirements of the digital era.
                </p>
            </div>
        </div>
  </section>
</main>
