<main
  class="relative overflow-hidden py-36 md:min-h-screen md:flex md:flex-col md:items-center md:justify-center"
>
  <div
    class="absolute inset-0 -z-[100] w-full h-full bg-no-repeat bg-cover bg-center"
    style="background-image: url(/assets/gradients/authoring-tool-gradient.svg)"
  ></div>

  <section>
    <div class="container">
      <div class="text-center">
        <h1 class="max-w-[700px] mx-auto">Authoring tool</h1>

        @if (1 === 1) {
          <p class="max-w-[570px] mx-auto">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu
            turpis molestie, dictum est a, mattis tellus.
          </p>
        }
      </div>

      <div class="grid grid-cols-1 text-center mt-14 md:grid-cols-2 gap-7">
        <a
          href=""
          class="group flex flex-col items-center justify-center px-8 lg:px-20 py-12 min-h-[270px] transition border-[2px] border-white border-solid rounded-xl hover:border-custom-green"
        >
          <h4 class="transition group-hover:text-custom-green">Javascript</h4>
          <p class="mb-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu
            turpis molestie, dictum est a, mattis tellus.
          </p>
        </a>
        <a
          href=""
          class="group flex flex-col items-center justify-center px-8 lg:px-20 py-12 min-h-[270px] transition border-[2px] border-white border-solid rounded-xl hover:border-custom-green"
        >
          <h4 class="transition group-hover:text-custom-green">Python</h4>
          <p class="mb-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu
            turpis molestie, dictum est a, mattis tellus.
          </p>
        </a>
      </div>

      <div class="mt-8 text-center">
        <app-button-video [text]="'Start Authoring'"></app-button-video>
      </div>
    </div>
  </section>
</main>
