<main class="py-5 mt-[100px] lg:mt-[107px]">
  
    <section>
      <div class="container">
        <div class="max-w-[800px] mx-auto self-center w-full">
          <div class="mb-10 text-center">
            <h2>Learning Javascript</h2>
          </div>
        </div>
      </div>
    </section>
  
    <section class="my-32">
      <div class="container">
        <div class="grid grid-cols-1 gap-5 lg:grid-cols-3">
          
            <p>JavaScript Exercises</p>
  
        </div>
      </div>
    </section>
  </main>  
