<main class="py-5 mt-[100px] lg:mt-[107px]">
  
    <section>
      <div class="container">
        <div class="max-w-[800px] mx-auto self-center w-full">
          <div class="mb-10 text-center">
            <h2>Learning Python</h2>
          </div>
        </div>
      </div>
    </section>
  
    <section class="my-32">
      <div class="container">
        <div class="grid grid-cols-1 gap-5 lg:grid-cols-3">
          
            <app-prose></app-prose>
            <form [formGroup]="form">
                <app-python-editor formControlName="code" [codeType]="'python'"></app-python-editor>
                <button class="btn btn-primary" (click)="submit()">Run</button>
            </form>
            <app-python-terminal></app-python-terminal>
  
        </div>
      </div>
    </section>
  </main>  