table {
    /* width: 100%;
    table-layout: fixed; */
    text-align: center;
}

.exercise_description  {
    text-align: left;
}

label {
    color: white;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings: normal;
    font-size: 18px;
    font-variation-settings: normal;
    font-weight: 600
}