<main class="py-5 mt-[100px] lg:mt-[107px]">
  
    <section>
        <div class="container">
          <div class="max-w-[800px] mx-auto self-center w-full">
            <div class="mb-10 text-center">
              <h3>Rate the dificulty of each exercise</h3>
            </div>
          </div>
        </div>
    </section>
  
    <section class="my-32">
        <div class="container">
            <div class="max-w-[800px] mx-auto self-center w-full">
                <!-- <div class="mb-10"> -->
                    <table>
                        <thead>
                            <tr>
                                <th width="50%">Description</th>
                                <th>Level of difficulty</th>
                                <th>Rating</th>
                                <th>Actions</th>
                            </tr>                 
                        </thead>
                        <tbody>
                          <tr *ngFor="let exercise of exercises" class="border-b border-white">
                            <td class="px-4 pt-4 pb-6">
                                <div class="mb-2">
                                    <div class="mb-2"><strong>Exercise ID: {{exercise.exercise.exercise}}</strong></div>
                                    <div class="exercise_description" [innerHTML]="exercise.exercise.exercise_description"></div>
                                </div>
                                <div>Course: {{exercise.exercise.type}}</div>
                            </td>
                            <td class="px-4 pt-4 pb-6 whitespace-nowrap">
                              {{exercise.exercise.difficulty}}
                            </td>
                            <td class="px-4 pt-4 pb-6 whitespace-nowrap">
                                {{exercise.rate}}
                            </td>
                            <td class="px-4 pt-4 pb-6 whitespace-nowrap">
                                <a (click)="rateModal(exercise)" class="button button-primary">
                                <span *ngIf="!exercise.rate">Rate</span>
                                <span *ngIf="exercise.rate">Update</span>
                                <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.40381 15.5987L7.06787 14.2862L12.3179 9.03619H0.903809V7.16119H12.3179L7.06787 1.91119L8.40381 0.598694L15.9038 8.09869L8.40381 15.5987Z" />
                                </svg>
                              </a>
                            </td>
                          </tr>
                         </tbody>
                      </table>
                <!-- </div> -->
            </div>
        </div>
  </section>
</main>

