input:not([type="checkbox"]):not([type="radio"]), textarea, select {
    margin-bottom: 0rem;
    border-radius: 0rem;
    border-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: rgb(66 75 84 / var(--tw-border-opacity));
    background-color:white;
    padding-top: 0rem;
    padding-bottom: 0rem;
}