<main class="py-5 mt-[100px] lg:mt-[107px]">
  
    <section>
        <div class="container">
          <div class="max-w-[800px] mx-auto self-center w-full">
            <div class="mb-10 text-center">
              <h2>Learner's Progress</h2>
            </div>
          </div>
        </div>
    </section>
  
    <section class="my-32">
        <div class="container">
            <div class="max-w-[1000px] mx-auto self-center w-full">
                <div class="mb-10 text-center">
                    <ag-grid-angular
                        [domLayout]="'autoHeight'"
                        [rowData]="exercises"
                        [defaultColDef]="defaultColDef"
                        [columnDefs]="colDefs"
                        [pagination]="true"
                        [paginationPageSize]="50"
                        [loadingOverlayComponent]="loadingOverlayComponent"
                        [loadingOverlayComponentParams]="loadingOverlayComponentParams"
                        (gridReady)="onGridReady($event)"
                        class="ag-theme-balham"
                    >
                    </ag-grid-angular>
                </div>
            </div>
        </div>
  </section>
</main>
