<nav class="absolute top-0 left-0 z-50 w-full py-10">
  <div
    class="flex flex-wrap justify-between mx-auto max-w-[1820px] px-5 gap-5 items-center"
  >
    <div class="inline-flex items-center gap-10">
      <a href="">
        <img src="/assets/logos/code4code.svg" alt="" />
      </a>
      <ul class="hidden gap-8 mb-0 list-none lg:inline-flex">
        <li class="mb-0">
          <a
            class="cursor-pointer transition hover:text-custom-green"
            routerLink="/c4c/authoring"
            >Authoring tool</a
          >
        </li>
        <li class="mb-0">
          <a
            class="cursor-pointer transition hover:text-custom-green"
            routerLink="/c4c/learning"
            >Javascript + Python</a
          >
        </li>
        <li class="mb-0">
          <a
            class="cursor-pointer transition hover:text-custom-green"
            routerLink="/c4c/plans"
            >Plans</a
          >
        </li>
      </ul>
    </div>

    <div
      *ngIf="!user()"
      class="flex flex-row gap-4 items-center hidden lg:inline-flex"
    >
      <asl-google-signin-button type="standard"> </asl-google-signin-button>
    </div>
    <div class="inline-flex items-center gap-3 lg:hidden">
      <!-- Burger Icon -->
      <div
        #mobileBurgerIcon
        class="inline-flex items-center gap-3 lg:hidden"
        (click)="onBurgerClick()"
      >
        <div class="block cursor-pointer" id="mobile-burger-icon">
          <svg
            width="69"
            height="12"
            viewBox="0 0 69 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M67.7315 10L2.00002 10"
              stroke="#AFDB00"
              stroke-width="2.5"
              stroke-linecap="round"
            />
            <path
              d="M67.7315 2L2.00002 2"
              stroke="#AFDB00"
              stroke-width="2.5"
              stroke-linecap="round"
            />
          </svg>
        </div>
      </div>

      <!-- Mobile Devices Menu -->
      <ul
        #mobileMenu
        class="z-[999] hidden text-center fixed top-0 right-0 flex flex-col flex-wrap items-center justify-center w-screen h-screen gap-7 mb-0 list-none transition-all bg-custom-gray-800"
        id="mobile-menu"
      >
        <!-- Burger Close Icon -->
        <div
          #mobileBurgerCloseIcon
          (click)="onBurgerIconCloseClick()"
          class="absolute cursor-pointer top-7 right-5"
          id="mobile-burger-close-icon"
        >
          <svg
            width="64"
            height="40"
            viewBox="0 0 64 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M62.266 32.6565L2.00003 6.41449"
              stroke="#AFDB00"
              stroke-width="2.5"
              stroke-linecap="round"
            />
            <path
              d="M2.26599 32.6565L62.5319 6.41449"
              stroke="#AFDB00"
              stroke-width="2.5"
              stroke-linecap="round"
            />
          </svg>
        </div>

        <li class="mb-0">
          <asl-google-signin-button type="standard"> </asl-google-signin-button>
        </li>
        <li class="mb-0 text-[25px]">
          <a
            routerLink="/c4c/authoring"
            class="transition hover:text-custom-green"
            >Authoring Tool</a
          >
        </li>
        <li class="mb-0 text-[25px]">
          <a
            routerLink="/c4c/learning"
            class="transition hover:text-custom-green"
            >Javascript + Python</a
          >
        </li>
        <li class="mb-0 text-[25px]">
          <a routerLink="/c4c/plans" class="transition hover:text-custom-green"
            >Plans</a
          >
        </li>
        <li class="mb-0">
          <app-button-video [text]="'Learn More'"></app-button-video>
        </li>
      </ul>
    </div>
  </div>
</nav>
