<main class="relative overflow-hidden py-36">
  <div
    class="absolute inset-0 -z-[100] w-full h-full bg-no-repeat bg-cover bg-center"
    style="background-image: url(/assets/gradients/main-gradient.svg)"
  ></div>

  <section>
    <div class="container">
      <h2 class="text-center">Create account</h2>

      <div class="grid grid-cols-1 gap-5 lg:grid-cols-3">
        <div
          class="flex flex-col gap-16 px-3 py-5 text-center transition border border-white border-solid rounded-xl hover:border-custom-green group"
        >
          <div>
            <p class="mb-1">&nbsp;</p>
            <h5 class="transition group-hover:text-custom-green">Free!</h5>
          </div>

          <div class="flex-1 px-10 pb-20 pt-11">
            <h1 class="mb-6 text-custom-green">€0</h1>
            <h6>Per user/month</h6>
            <a
                routerLink="/c4c/login"
                class="mb-10 button button-primary button-full-width mt-9"
            >
              Try for free
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M8.40381 15.5987L7.06787 14.2862L12.3179 9.03619H0.903809V7.16119H12.3179L7.06787 1.91119L8.40381 0.598694L15.9038 8.09869L8.40381 15.5987Z"
                />
              </svg>
            </a>

            <ul class="mb-0 list-none mx-auto max-w-[200px]">
                <li>limited number of exercises</li>
                <li>Exercises to learn/create</li>
                <li>10 exercises for python</li>
                <li>10 exercises for javascript</li>
            </ul>

            <div class="flex flex-col items-center gap-4 mt-8">
              <a routerLink="/c4c/authoring" class="button button-outline button-outline__white">
                Authoring Tool
              </a>

              <a routerLink="/c4c/learning" class="button button-outline button-outline__white">
                Javascript + Python
              </a>
            </div>
          </div>
        </div>

        <div
          class="flex flex-col gap-16 px-3 py-5 text-center transition border border-white border-solid rounded-xl hover:border-custom-green group"
        >
          <div>
            <p class="mb-1">Premium</p>
            <h5 class="transition group-hover:text-custom-green">
              Authoring tool
            </h5>
          </div>

          <div
            class="flex-1 px-10 pb-20 bg-white pt-11 rounded-xl bg-opacity-10"
          >
            <h1 class="mb-6 text-custom-green">€275</h1>
            <h6>Per user/month</h6>
            <a
                routerLink="/c4c/login"
                class="mb-10 button button-primary button-full-width mt-9"
            >
              Create account
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M8.40381 15.5987L7.06787 14.2862L12.3179 9.03619H0.903809V7.16119H12.3179L7.06787 1.91119L8.40381 0.598694L15.9038 8.09869L8.40381 15.5987Z"
                />
              </svg>
            </a>

            <h6>Everything in Basic plus:</h6>
            <ul class="mb-0 list-none mx-auto max-w-[200px]">
              <li>Unlimited number of exercises</li>
              <li>Preview of all educated material</li>
              <li>Rate all exercises</li>
            </ul>
          </div>
        </div>

        <div
          class="flex flex-col gap-16 px-3 py-5 text-center transition border border-white border-solid rounded-xl hover:border-custom-green group"
        >
          <div>
            <p class="mb-1">Premium</p>
            <h5 class="transition group-hover:text-custom-green">
              Javascript + Python
            </h5>
          </div>

          <div
            class="flex-1 px-10 pb-20 bg-white bg-opacity-10 pt-11 rounded-xl"
          >
            <h1 class="mb-6 text-custom-green">€3.95</h1>
            <h6 class="mb-2">Per user/month</h6>
            <p>* billed annually</p>
            <a
                routerLink="/c4c/login"
                class="mb-10 button button-primary button-full-width mt-9"
            >
              Create account
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M8.40381 15.5987L7.06787 14.2862L12.3179 9.03619H0.903809V7.16119H12.3179L7.06787 1.91119L8.40381 0.598694L15.9038 8.09869L8.40381 15.5987Z"
                />
              </svg>
            </a>

            <h6>Everything in Standard plus:</h6>
            <ul class="mb-0 list-none mx-auto max-w-[200px]">
                <li>Unlimited number of exercises</li>
                <li>Rate your training exercises</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
