<footer class="pt-16 bg-black pb-7">
  <div class="container">
    <div class="flex flex-wrap items-center gap-20 mb-16">
      <a href="">
        <img src="/assets/logos/code4code.svg" alt="" />
      </a>
      <ul class="inline-flex flex-wrap gap-10 mb-0 list-none">
        <li class="mb-0">
          <a href="" class="transition hover:text-custom-green">Home</a>
        </li>
        <li class="mb-0">
          <a href="" class="transition hover:text-custom-green">Products</a>
        </li>
        <li class="mb-0">
          <a href="" class="transition hover:text-custom-green">Tools</a>
        </li>
      </ul>
    </div>

    <!-- Footer Copyrights -->
    <div class="flex flex-wrap justify-between gap-2">
      <div class="flex flex-wrap items-center gap-2">
        <p class="mb-0">© 2023 C4C</p>
        <ul class="lg:inline-flex hidden flex-wrap gap-5 mb-0 list-none">
          <li class="mb-0">
            <a href="" class="transition hover:text-custom-green"
              >Legal Notices</a
            >
          </li>
          <li class="mb-0">
            <a href="" class="transition hover:text-custom-green"
              >Privacy Notice</a
            >
          </li>
          <li class="mb-0">
            <a href="" class="transition hover:text-custom-green">GDPR</a>
          </li>
          <li class="mb-0">
            <a href="" class="transition hover:text-custom-green"
              >Cookies Policy</a
            >
          </li>
        </ul>
      </div>
      <div class="flex items-center gap-6">
        <a href="https://www.facebook.com/" target="_blank" class="group">
          <app-facebook-icon></app-facebook-icon>
        </a>
        <a href="https://twitter.com/" target="_blank" class="group">
          <app-twitter-icon></app-twitter-icon>
        </a>
        <a href="https://www.youtube.com/" target="_blank" class="group">
          <app-youtube-icon></app-youtube-icon>
        </a>
      </div>
    </div>
  </div>
</footer>
