<div class="d-flex justify-content-between m-3">
    <span class="h5">Exercise</span>
    <button
        type="button"
        class="btn-close"
        (click)="modalRef.dismiss()"
    ></button>
</div>
<div class="modal-body">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <span class="fw-semibold">
                Course: {{ exercise?.type }}</span>
            <span class="text-muted small">
                Author: {{ exercise?.author.name }}</span
            >
        </div>
        <div class="card-body">
            <app-card-row-right-left
                [keyValue]="{
                    key: 'Exercise Description',
                    value: exercise?.exercise_description
                }"
            ></app-card-row-right-left>
            <app-card-row-right-left *ngIf="authService.isInstructor()"
                [keyValue]="{
                    key: 'Code',
                    value: exercise?.code
                }"
            ></app-card-row-right-left>
            <app-card-row-right-left *ngIf="authService.isInstructor()"
                [keyValue]="{
                    key: 'Output',
                    value: exercise?.output
                }"
            ></app-card-row-right-left>
            <app-card-row-right-left *ngIf="authService.isLearner()"
                [keyValue]="{
                    key: 'Chapter',
                    value: exercise?.category.chapter
                }"
            ></app-card-row-right-left>
            <app-card-row-right-left *ngIf="authService.isLearner()"
                [keyValue]="{
                    key: 'Introduction',
                    value: exercise?.introduction
                }"
            ></app-card-row-right-left>
            <app-card-row-right-left *ngIf="authService.isLearner()"
                [keyValue]="{
                    key: 'Theory for exercise',
                    value: exercise?.subintroduction
                }"
            ></app-card-row-right-left>
        </div>
    </div>
</div>

<div class="d-flex justify-content-end m-3">
    <button
        ngbAutofocus
        type="button"
        class="btn btn-primary"
        (click)="modalRef.close()"
    >
        Return
    </button>
</div>

